* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */

.logo__a {
  width: 3rem;
  height: 3rem;
}

/* Seccion animacion */

.ul__animation-buenos {
  justify-content: center;
  margin: 0;
  padding: 0;
  display: flex;
}

.ul__animation-aires {
  justify-content: center;
  margin: 0;
  padding: 0;
  display: flex;
}

.ul__animation-turismo {
  justify-content: center;
  margin: 0;
  padding: 0;
  display: flex;
}

.animation-b {
  list-style: none;
  color: lightgray;
  font-size: 80px;
  animation: iluminar 1.8s linear infinite;
  text-transform: uppercase;
}

.animation-a {
  list-style: none;
  color: lightgray;
  font-size: 80px;
  animation: iluminar 1.8s linear infinite;
  text-transform: uppercase;
}

.animation-t {
  list-style: none;
  color: lightgray;
  font-size: 80px;
  animation: iluminar 1.8s linear infinite;
  text-transform: uppercase;
}

@keyframes iluminar {
  0% {
    color: lightgray;
    text-shadow: none;
  }
  90% {
    color: lightgray;
    text-shadow: none;
  }
  100% {
    color: black;
    text-shadow: 0 0 7px black, 0 0 50px gray;
  }
}

.ul__animation-buenos .animation-b:nth-child(1) {
  animation-delay: 0s;
}
.ul__animation-buenos .animation-b:nth-child(2) {
  animation-delay: 0.1s;
}
.ul__animation-buenos .animation-b:nth-child(3) {
  animation-delay: 0.2s;
}
.ul__animation-buenos .animation-b:nth-child(4) {
  animation-delay: 0.3s;
}
.ul__animation-buenos .animation-b:nth-child(5) {
  animation-delay: 0.4s;
}
.ul__animation-buenos .animation-b:nth-child(6) {
  animation-delay: 0.5s;
}

.ul__animation-aires .animation-a:nth-child(1) {
  animation-delay: 0.6s;
}
.ul__animation-aires .animation-a:nth-child(2) {
  animation-delay: 0.7s;
}
.ul__animation-aires .animation-a:nth-child(3) {
  animation-delay: 0.8s;
}
.ul__animation-aires .animation-a:nth-child(4) {
  animation-delay: 0.9s;
}
.ul__animation-aires .animation-a:nth-child(5) {
  animation-delay: 1s;
}
.ul__animation-turismo .animation-t:nth-child(1) {
  animation-delay: 1.1s;
}
.ul__animation-turismo .animation-t:nth-child(2) {
  animation-delay: 1.2s;
}
.ul__animation-turismo .animation-t:nth-child(3) {
  animation-delay: 1.3s;
}
.ul__animation-turismo .animation-t:nth-child(4) {
  animation-delay: 1.4s;
}
.ul__animation-turismo .animation-t:nth-child(5) {
  animation-delay: 1.5s;
}
.ul__animation-turismo .animation-t:nth-child(6) {
  animation-delay: 1.6s;
}
.ul__animation-turismo .animation-t:nth-child(7) {
  animation-delay: 1.7s;
}

/* Secccion Mail */
@media (min-width: 768px) {
  .noticias-input {
    width: 50%;
  }
}

/* Footer */

.logo__footer {
  width: 3rem;
  height: 3rem;
}

.h3__footer {
  text-align: center;
}

svg:hover {
  color: black;
  box-shadow: black 5px;
}

/* Cambiamos a la pagina Lugares.html */

@media (max-width: 768px) {
  .tarjetas {
    width: 23rem;
  }
}

.intro-lugares {
  text-transform: uppercase;
}

/* Cambiamos a la pagina experiencias.html */

/* Animacion 2 */

.ul__animation-visitas {
  justify-content: center;
  margin: 0;
  display: 0;
  display: flex;
}

.ul__animation-paseos {
  justify-content: center;
  margin: 0;
  display: 0;
  display: flex;
}

.ul__animation-experiencias {
  justify-content: center;
  margin: 0;
  display: 0;
  display: flex;
}

.animation-v {
  list-style: none;
  color: black;
  font-size: 40px;
  animation: iluminar2 2.5s linear infinite;
  text-transform: uppercase;
}

.animation-p {
  list-style: none;
  color: black;
  font-size: 40px;
  animation: iluminar2 2.5s linear infinite;
  text-transform: uppercase;
}

.animation-e {
  list-style: none;
  color: black;
  font-size: 40px;
  animation: iluminar2 2.5s linear infinite;
  text-transform: uppercase;
}

@keyframes iluminar2 {
  0% {
    color: black;
    text-shadow: none;
  }
  90% {
    color: black;
    text-shadow: none;
  }
  100% {
    color: white;
    text-shadow: 0 0 7px white, 0 0 50px gray;
  }
}

.ul__animation-visitas .animation-v:nth-child(1) {
  animation-delay: 0s;
}
.ul__animation-visitas .animation-v:nth-child(2) {
  animation-delay: 0.1s;
}
.ul__animation-visitas .animation-v:nth-child(3) {
  animation-delay: 0.2s;
}
.ul__animation-visitas .animation-v:nth-child(4) {
  animation-delay: 0.3s;
}
.ul__animation-visitas .animation-v:nth-child(5) {
  animation-delay: 0.4s;
}
.ul__animation-visitas .animation-v:nth-child(6) {
  animation-delay: 0.5s;
}
.ul__animation-visitas .animation-v:nth-child(7) {
  animation-delay: 0.6s;
}

.ul__animation-paseos .animation-p:nth-child(1) {
  animation-delay: 0.7s;
}
.ul__animation-paseos .animation-p:nth-child(2) {
  animation-delay: 0.8s;
}
.ul__animation-paseos .animation-p:nth-child(3) {
  animation-delay: 0.9s;
}
.ul__animation-paseos .animation-p:nth-child(4) {
  animation-delay: 1s;
}
.ul__animation-paseos .animation-p:nth-child(5) {
  animation-delay: 1.1s;
}
.ul__animation-paseos .animation-p:nth-child(6) {
  animation-delay: 1.2s;
}

.ul__animation-experiencias .animation-e:nth-child(1) {
  animation-delay: 1.3s;
}
.ul__animation-experiencias .animation-e:nth-child(2) {
  animation-delay: 1.4s;
}
.ul__animation-experiencias .animation-e:nth-child(3) {
  animation-delay: 1.5s;
}
.ul__animation-experiencias .animation-e:nth-child(4) {
  animation-delay: 1.6s;
}
.ul__animation-experiencias .animation-e:nth-child(5) {
  animation-delay: 1.7s;
}
.ul__animation-experiencias .animation-e:nth-child(6) {
  animation-delay: 1.8s;
}
.ul__animation-experiencias .animation-e:nth-child(7) {
  animation-delay: 1.9s;
}
.ul__animation-experiencias .animation-e:nth-child(8) {
  animation-delay: 2s;
}
.ul__animation-experiencias .animation-e:nth-child(9) {
  animation-delay: 2.1s;
}
.ul__animation-experiencias .animation-e:nth-child(10) {
  animation-delay: 2.2s;
}
.ul__animation-experiencias .animation-e:nth-child(11) {
  animation-delay: 2.3s;
}
.ul__animation-experiencias .animation-e:nth-child(12) {
  animation-delay: 2.4s;
}

/* Cambiamos a contacto.html */

.section__color {
  background-color: black;
}

.h2__contacto {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 60px;
}

.form__section {
  background-image: linear-gradient(black, white);
}

.form__contact {
  padding: 10px;
  border-radius: 3px;
  color: #999;
  font-size: 0.8em;
  background-color: #f8f9fa;
  margin: 0 auto;
  width: 300px;
}

.input {
  outline: none;
  border: 0;
}

.field {
  border: solid 1px #ccc;
  padding: 10px;
  width: 280px;
}

.field:focus {
  border-color: white;
}

/* @mediaQ de la animacion 1 en index.html*/
@media (max-width: 768px) {
  .animation-a {
    font-size: 40px;
  }
  .animation-b {
    font-size: 40px;
  }
  .animation-t {
    font-size: 40px;
  }
  /* mediaQ de la animacion 2 en experiencias.html */
  .animation-v {
    font-size: 30px;
  }
  .animation-p {
    font-size: 30px;
  }
  .animation-e {
    font-size: 30px;
  }
  /* Contacto.html */
  .h2__contacto {
    font-size: large;
  }
  /* Footer */
  .h3__footer {
    font-size: medium;
  }
}
